<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <style>
        .error{
            font-style: italic;
            color: firebrick;
        }
    </style>

    <title sec:authentication="principal.username">'s Password Reset</title>
</head>
<body>

<h3>Password Update</h3>

<form action="#"
      th:Object="${user}"
      th:action="@{/settings/update-password}"
      method="POST">

    <div th:if="${param.error}">
        <p class="error" th:if="${param.error.contains('current_password_not_match')}">* Wrong current password.</p>
    </div>

    <label for="current_password"
           >Current Password</label>
    <input type="password"
           id="current_password"
           name="current_password"
           th:field="*{currentPassword}">

    <br><br>

        <label for="new_password"
               >New Password</label>
    <input type="password"
           id="new_password"
           name="new_password"
           th:field="*{newPassword}">
    <br><br>

    <input type="submit" value="Login">

</form>

</body>
</html>